<form action="/data" method = "POST">
    <div style="align-items: center; margin: 110px; padding-top: 20px; padding-bottom: 20px; text-align: center;">
        <h2>Please enter the URL you would like to scrape:</h2>
        <p style="padding-bottom: 20px;">This application takes a URL and returns the 10 most frequent letters on the page. Try pasting https://en.wikipedia.org/wiki/Main_Page!</p>
        <div style="box-shadow: 0 0 30px rgb(107, 109, 110); border-radius: 20px; align-items: center;padding: 20px; padding: auto;">
            <p>URL: <input type = "text" name = "URL" /></p>
            <p><input type = "submit" value = "Submit" /></p>
        </div> 
    </div>
</form>